/* ---------------------------------------------------------
    * Name: Grocery
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings
        * theme settings

    * Components
        * alert
        * avatar
        * badge
        * button group
        * button
        * card
        * carousel
        * chart
        * divider
        * dropdown
        * form
        * header
        * image box
        * menubar
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs
        * timeline
        * toast
        * treeview

    * widget

    * Pages
        * boarding
        * account
        * home 
        * profile
        * chat
        * order

 ------------------------------------------------------------------------------ */
/*--------- Abstracts variable ---------- */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700");
/*---------- Reset css styles ----------- */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  }
  
  ::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
  }
  
  body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  }
  
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  caption,
  canvas,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  dialog,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  form,
  footer,
  header,
  hgroup,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  tt,
  table,
  tbody,
  textarea,
  tfoot,
  thead,
  time,
  tr,
  th,
  td,
  u,
  ul,
  var,
  video {
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
	display: block;
  }
  
  ol,
  ul {
	list-style: none;
  }
  
  blockquote,
  q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
  }
  
  figure {
	margin: 0;
  }
  
  :focus {
	outline: 0;
  }
  
  table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  
  img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
  }
  
  legend {
	white-space: normal;
  }
  
  button,
  input,
  select,
  textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  button,
  input {
	line-height: normal;
  }
  
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
	line-height: 1;
	cursor: pointer;
	/* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button;
	/* Corrects inability to style clickable 'input' types in iOS */
	border: none;
  }
  
  input[type=checkbox],
  input[type=radio] {
	padding: 0;
	/* Addresses excess padding in IE8/9 */
  }
  
  input[type=search] {
	-webkit-appearance: textfield;
	/* Addresses appearance set to searchfield in S5, Chrome */
  }
  
  input[type=search]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
  }
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
  }
  
  *,
  *:before,
  *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  /* Repeatable Patterns
	-------------------------------------------------------------- */
  *,
  *:before,
  *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  body {
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-weight: 500;
	background-color: #fff;
	color: #1b1b1b;
	min-height: 100vh;
	width: 100%;
  }
  
  #header-menu{
    display: flex;
  }
  a {
	text-decoration: none;
	outline: none;
	color: #1b1b1b;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  a:hover, a:focus, a.active {
	text-decoration: none;
	outline: none;
	color: #b80000;
  }
  
  ul,
  ol {
	padding: 0;
	display: flex;
  }
  
  b,
  strong {
	font-weight: 700;
  }
  
  h1 {
  font-family: "Play", sans-serif;
	font-size: 89px;
	line-height: 107px;
  letter-spacing: 1px;
  }
  
  h2 {
  font-family: "Play", sans-serif;
	font-size: 60px;
	line-height: 83px;
  }
  
  h3 {
  font-family: "Play", sans-serif;
	font-size: 48px;
	line-height: 63px;
  }
  
  h4 {
  font-family: "DM Sans", sans-serif;
	font-size: 30px;
	line-height: 60px;
  }
  
  h5 {
  font-family: "Play", sans-serif;
	font-size: 28px;
	line-height: 28.4px;
  }
  
  h6 {
  font-family: "Play", sans-serif;
	font-size: 20px;
	line-height: 40px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	color: #000;
	font-weight: 700;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
	color: #000;
  }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
	color: #b80000;
  }
  
  button {
	border: none;
  }
  
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
	padding: 15px 30px;
	font-family: "DM Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	background-color: #b80000;
	text-transform: uppercase;
  }
  
  button:hover {
	background-color: #9e0303;
  }
  
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=color] {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding: 17px 14px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	color: #181818;
	background-color: #fff;
  }
  
  textarea {
	height: 140px;
	resize: none;
  }
  
  textarea:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=datetime]:focus,
  input[type=datetime-local]:focus,
  input[type=date]:focus,
  input[type=month]:focus,
  input[type=time]:focus,
  input[type=week]:focus,
  input[type=number]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=tel]:focus,
  input[type=color]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  
  textarea::placeholder,
  input::placeholder {
	color: #696866;
  }
  
  textarea,
  input[type=text],
  input[type=submit],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=color] {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
  }
  
  .tf-container {
	max-width: 1323px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
  }
  .tf-container .row {
	margin-left: -15px !important;
	margin-right: -15px !important;
  }
  .tf-container .row > * {
	padding-left: 15px !important;
	padding-right: 15px !important;
  }
  
  /*------------ Components ---------------- */
  /*------------ header ---------------- */
  /*------------ tabs ---------------- */
  /*------------ button ---------------- */
  .tf-btn {
	padding: 23px 35px 23px 44px;
	font-family: "DM Sans", sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	color: #fff;
	background-color: #b80000;
  }
  .tf-btn:hover {
	background-color: #9e0303;
	color: #fff;
  }
  
  /*------------ form ---------------- */
  /*------------ carousel ---------------- */
  /*------------ footer ---------------- */
  /*--------------- widget ---------------- */
  .text-aaa {
	color: #D01818;
	font-size: 76px;
	font-style: italic;
	font-weight: 700;
	line-height: 90px; /* 118.421% */
	text-transform: uppercase;
	font-family: "Jost", sans-serif;
  }
  
  /*-------------- Pages ----------------- */
  /*--------- home ---------- */
  
  /*# sourceMappingURL=styles.css.map */
  